@import "tailwindcss";

/* Estilos personalizados */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Smooth scroll en toda la página */
html {
  scroll-behavior: smooth;
}
